{# index.twig #}
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__logo"><img src="img/logo.svg" alt=""></div>
            <div class="footer__text">
                <span class="footer__text-item">
                    13% доходность от налогового вычета достигается за счёт внесения на ИИС 
                    равных взносов ежегодно в течение трёх лет. Консенсус-прогноз роста ценных 
                    бумаг на основании данных агентства Bloomberg.
                </span>
                <span class="footer__text-item">
                    Настоящая публикация, включая любые её части и отдельные положения, 
                    не может рассматриваться в качестве оферты (включая публичную оферту), приглашения делать оферты. Все расчеты, котировки, процентные ставки, 
                    ставки доходности являются индикативными. Все расчеты могут быть подвержены существенным изменениям в связи изменением рыночной конъюнктуры.
                </span>
                <span class="footer__text-item">
                    Прошлые показатели не являются гарантией будущих результатов. Стоимость инвестиций может упасть или вырасти, при этом инвестор может не вернуть себе сумму первоначальных инвестиций.
                </span>
                <span class="footer__text-item">
                    Информацию, содержащуюся в данном материале, не следует рассматривать 
                    в качестве предложения, совета, приглашения или побудительной причины приобрести либо продать те или иные ценные бумаги, либо прочие финансовые инструменты.
                </span>
                <span class="footer__text-item">
                    Данная информация не основана на конкретных обстоятельствах, связанных 
                    с указанным получателем данной информации.
                </span>
            </div>
        </div>
    </div>
</footer>