{# index.twig #}

<header class="header">
	<div class="container">
		<div class="header__wrap">
			<div class="header__logo"><img src="img/logo.svg" alt=""></div>
			<a class="header__number" href="tel:+78002003235">
				<img src="img/phone.svg">8 (800) 200-32-35
			</a>
			<a href="" class="header__icon">
				<img src="img/phone (1).svg" alt="">
			</a>
		</div>
		<h1 class="header__title">Инвестиционные продукты</h1>
		<div class="header__subtitle">с потенциальным уровнем доходности</div>
		<div class="header__percent">до 30+ годовых!</div>	
	</div>
</header>
