<section class="more">
    <div class="container">
        <div class="more__icon"><img src="img/MP-icon.svg" alt=""></div>
        <h2 class="more__title">Узнайте больше о модельных портфелях</h2>
            <div class="more__info">
            <div class="more__info-icon"><img src="img/portfolio.svg" alt=""></div>
            <div class="more__info-text">
                <span>
                    Модельный портфель — это несколько ценных бумаг, отобранных по определенным признакам. Например, облигации или акции одного сектора экономики или бумаги <br>
                    с потенциально хорошим дивидендным доходом.
                </span>
                <span>
                    Это удобный инструмент для тех, кто хочет инвестировать, но не готов заниматься 
                    торговлей самостоятельно. Аналитики ITI Capital уже отобрали для вас ценные 
                    бумаги и приготовили портфели для инвестиций с оптимальным соотношениям 
                    риска и доходности.
                </span>
                <span>
                    Портфели на нашем постоянном контроле, мы добавляем и убираем бумаги, 
                    чтобы прийти к ожидаемой доходности. Вам только выбрать.
                </span>
                
                <div clas="more__condition more__condition-firt">Минимальная сумма инвестиций — 50 тыс. руб</div>
                <div clas="more__condition">Рекомендуемый срок инвестиции —минимум 6 месяцев</div>
                <div clas="more__condition">При необходимости, вы можете вывести деньги досрочно без штрафов и вычетов</div>
            </div>
        </div>
    </div>
    <div class="more__bg">
        <div class="container">
            <div class="more__video"><img src="img/video.jpg" alt=""></div>
        </div>
    </div>
</section>