<section class="questions">   
    <div class="container">
        <div class="questions__wrapper">
            <div class="questions__block">
                <h2 class="questions__title">Остались вопросы?</h2>
                <div class="questions__subtitle">Ответим в удобное для вас время</div>
            </div>
            <div class="questions__buttons">
                <button class="button button__questions">Спросить в чате →</button>
                <button class="button button__questions">Заказать звонок →</button>
            </div>
        </div>
    </div>
</section>