<section class="reasons">
    <div class="container">
        <div class="reasons__wrapper">
            <div class="reasons__logo-block"><img src="img/red logo.svg" alt=""></div>
            <div class="reasons__title-block">
                <h2 class="reasons__title">Почему ITI Capital</h2>
            </div>
            {# <div class="reasons__white-block"></div> #}
            <div class="reasons__list-block">
                <ul class="reasons__list">
                    <li class="reasons__list-item">
                        <div class="reasons__list-icon"><img src="../img/reasons-1.svg"></div>
                        <div class="reasons__list-content">
                            <h3 class="reasons__list-title">Надежно</h3>
                            <div class="reasons__list-text">
                                Рейтинг надежности ААА <br>
                                18 лет на рынке <br>
                                Более 15 000 клиентов
                            </div>
                        </div>
                    </li>
                    <li class="reasons__list-item">
                        <div class="reasons__list-icon"><img src="../img/reasons-2.svg"></div>
                        <div class="reasons__list-content">
                            <h3 class="reasons__list-title">Доступно</h3>
                            <div class="reasons__list-text">
                                Откройте счет дистанционно<br>
                                Управляйте счетом и продуктами через Личный кабинет<br>
                                Наши консультанты всегда рядом, мы работаем 7 дней в неделю
                            </div>
                        </div>
                    </li>
                    <li class="reasons__list-item">
                        <div class="reasons__list-icon"><img src="../img/reasons-3.svg"></div>
                        <div class="reasons__list-content">
                            <h3 class="reasons__list-title">Удобно</h3>
                            <div class="reasons__list-text">
                                Подробная информация о счете в Личном кабинете<br>
                                Подписывайте документы простым SMS-сообщением<br>
                                Все инвестиционные стратегии под контролем наших аналитиков
                            </div>
                        </div>
                    </li>
                    <li class="reasons__list-item">
                        <a class="reasons__number" href="tel:+78002003235">
			                <img src="img/phone.svg">
                            <span class="reasons__phone">8 (800) 200-32-35</span>
                        </a>
                        <a href="#" class="reasons__about-link"> О компании</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>