{% set cards = 
    [
        {
            'data': 'data-id="0"',
            'img1': '<img src="img/logo-yandex.svg">',
            'img2': '<img src="img/sberbank-logo.svg">',
            'img3': '<img src="img/novatek.svg">',
            'currency':'В  рублях, до', 
            'percent': '36%',
            'title':'Модельный портфель российских акций со средним уровнем риска',
            'name': 'Выбор ITI Capital',
            'text':'Эксперты ITI Capital отобрали акции с хорошими<br>перспективами
                    роста котировок.<br><hr>Основные секторы инвестирования: нефтегазовый,
                    <br>горнодобывающий, технологии, финансы.<br><hr>
                    50 000 руб. — минимальная сумма инвестиции.'
        },  
        {
            'img1': '<img src="img/Сургутнефтегаз.svg">',
            'img2': '<img src="img/dividentnaya-alrosa.svg">',
            'img3': '<img src="img/logo-tatneft.svg">',
            'data': 'data-id="1"',
            'currency': 'В  рублях, до',
            'percent': '25%',
            'title':'Модельный портфель российских акций со средним уровнем риска',
            'name': 'Дивидендный',
            'text':'Возможность получить не только дивиденды, но и доход от роста<br> стоимости акций.<br><hr>
                    В портфель входят акции с привлекательной дивидендной <br>
                    доходностью из секторов: нефтегазовый, добывающий и металлургия.<br><hr>
                    50 000 руб. — минимальная сумма инвестиции.'
        },
        {   
            'img1': '<img src="img/OPIF-TGF-RF.svg">',
            'img2': '<img src="img/dididentnaya-luk.svg">',
            'img3': '<img src="img/obligacionnaya-web-bank.svg">',
            'data': 'data-id="2"',
            'currency': 'В  рублях, до',
            'percent': '17%',
            'title':'Модельный портфель с оптимальным соотношением доходности и риска',
            'name': 'Сбалансированная доходность',
            'text':'В портфель входят бумаги надежных компаний и облигации<br>федерального займаРФ. Акции обеспечивают повышенную<br> доходность, облигации позволяют снизить уровень риска.<br><hr>50 000 руб. — минимальная сумма инвестиции.'
        },
        {
            'img1': '<img src="img/rosneft-sign.svg">',
            'img2': '<img src="img/s1-okay.svg">',
            'img3': '<img src="img/logo-uralkaliy.svg">',
            'data': 'data-id="3"',
            'currency': 'В  рублях, до',
            'percent': '20%',
            'title':'Модельный портфель с низким уровнем риска',
            'name': 'Облигационный',
            'text':'В портфель входят облигации устойчивых компаний из различных<br> секторов экономики, включая нефтегазовый, финансовый,<br> потребительский, химический и горно-металлургический.<br><hr> 
            50 000 руб. — минимальная сумма инвестиции.'
        },
        {
            'img1': '<img src="img/logo-microsoft.svg">',
            'img2': '<img src="img/Visa_Inc._logo.svg">',
            'img3': '<img src="img/logo-dow.svg">',
            'data': 'data-id="4"',
            'currency': 'В долларах США, до',
            'percent': '22%',
            'title':'Модельный портфель американских акций со средним уровнем риска',
            'name': 'Оптимальный',
            'text':'Эксперты ITI Capital отобрали для портфеля акции крупных<br> американских компаний со сравнительно низким уровнем<br> волатильности (по бета-коэффициенту).<br><hr> Основные секторы инвестирования: информационные технологии,<br> финансовый, промышленный.<br><hr>
            5 000 долл. США  — минимальная сумма инвестиции.'
        },
        {
            'data': 'data-id="5"',
            'currency': 'В  рублях, до',
            'percent': '13%',
            'title':'Модельный портфель российских акций со средним уровнем риска',
            'name': 'Просто ИИС',
            'text':'Ежегодный гарантированный доход 13%, если регулярно пополнять счет —  <br>              налоговый вычет, который возвращает государство.<br>
                    У вас обязательно должен быть доход, с которого вы платите налоги.<br>
                    Максимальная сумма, с которой можно получить налоговый вычет,
                    <br> 400 000 руб.
                    Минимальной суммы, с которой можно начинать инвестиции, нет.'
        }
    ]
%}

<section class="strategy">
    <div class="container">
        <div class="strategy__icon"><img src="img/document-percent.svg" alt=""></div>
        <h2 class="strategy__title">Мы приготовили для вас и другие стратегии.<br> 
            Выбирать вам
        </h2>
        {% for i in cards %}
            {% include "/card.twig" with {"cardInfo": i} %}
        {% endfor %}
    </div>
</section>