@font-face {
	font-family: 'a_lcdnovaregular';
	src: url('../fonts/a_lcdnova-webfont.eot');
	src: url('../fonts/a_lcdnova-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/a_lcdnova-webfont.woff2') format('woff2'),
		 url('../fonts/a_lcdnova-webfont.woff') format('woff'),
		 url('../fonts/a_lcdnova-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeroport';
	src: url('../../fonts/Aeroport.eot');
	src: url('../../fonts/Aeroport.eot?#iefix') format('embedded-opentype'),
	  url('../../fonts/Aeroport.woff2') format('woff2'),
	  url('../../fonts/Aeroport.woff') format('woff'),
	  url('../../fonts/Aeroport.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
font-family: 'Lato';
src: url('../../fonts/Lato-Regular.woff.eot');
src: url('../../fonts/Lato-Regular.woff.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Lato-Regular.woff2') format('woff2'),
	url('../../fonts/Lato-Regular.woff') format('woff');

font-weight: normal;
font-style: normal;
font-display: swap;
}