/*  Переменные со шрифтами  */
$accent-font: 'PT Sans', sans-serif;


/*  Переменные с гарнитурами шрифтов  */
$pt-bold: 700;


/*  Основные цвета  */
$accent-color: #f4b600;
$secondary-color: #6a7678;


/* Разрешения */
$tablet: 1024px;
$mobile: 575px;
$middle: 920px;
$semi-middle: 767px;

$header-color: #292929;
$calculate-color: #131313;
$gray-color: #f2f2f2;
$white-color: #ffffff;
$aeroport-font: 'Aeroport';
$lato-font: 'Lato';
$border-color: #e8e8e8